@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-neutral-50: var(--color-olive-50);
  --color-neutral-100: var(--color-olive-100);
  --color-neutral-200: var(--color-olive-200);
  --color-neutral-300: var(--color-olive-300);
  --color-neutral-400: var(--color-olive-400);
  --color-neutral-500: var(--color-olive-500);
  --color-neutral-600: var(--color-olive-600);
  --color-neutral-700: var(--color-olive-700);
  --color-neutral-800: var(--color-olive-800);
  --color-neutral-900: var(--color-olive-900);
  --color-neutral-950: var(--color-olive-950);

  --color-accent-50: var(--color-sky-50);
  --color-accent-100: var(--color-sky-100);
  --color-accent-200: var(--color-sky-200);
  --color-accent-300: var(--color-sky-300);
  --color-accent-400: var(--color-sky-400);
  --color-accent-500: var(--color-sky-500);
  --color-accent-600: var(--color-sky-600);
  --color-accent-700: var(--color-sky-700);
  --color-accent-800: var(--color-sky-800);
  --color-accent-900: var(--color-sky-900);
  --color-accent-950: var(--color-sky-950);
}

@theme inline {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
}

body {
  @apply bg-neutral-100 dark:bg-neutral-950 text-neutral-900 dark:text-neutral-100;
}
