@import "tailwindcss";
@import "./site.css";

@custom-variant dark (&:is(.dark *));
@custom-variant hover-open (&:is(:hover:not([data-disabled]), [data-popup-open]));

@theme inline {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ring: var(--ring);

  --color-neutral-50: var(--color-olive-50);
  --color-neutral-100: var(--color-olive-100);
  --color-neutral-200: var(--color-olive-200);
  --color-neutral-300: var(--color-olive-300);
  --color-neutral-400: var(--color-olive-400);
  --color-neutral-500: var(--color-olive-500);
  --color-neutral-600: var(--color-olive-600);
  --color-neutral-700: var(--color-olive-700);
  --color-neutral-800: var(--color-olive-800);
  --color-neutral-900: var(--color-olive-900);
  --color-neutral-950: var(--color-olive-950);

  --color-accent-50: var(--color-blue-50);
  --color-accent-100: var(--color-blue-100);
  --color-accent-200: var(--color-blue-200);
  --color-accent-300: var(--color-blue-300);
  --color-accent-400: var(--color-blue-400);
  --color-accent-500: var(--color-blue-500);
  --color-accent-600: var(--color-blue-600);
  --color-accent-700: var(--color-blue-700);
  --color-accent-800: var(--color-blue-800);
  --color-accent-900: var(--color-blue-900);
  --color-accent-950: var(--color-blue-950);

  --border-width-hairline: var(--hairline-width);
}

:root {
  --background: var(--color-neutral-50);
  --foreground: var(--color-neutral-900);
  --ring: var(--color-neutral-900);

  --hairline-width: 1px;
}

.dark {
  --background: var(--color-neutral-950);
  --foreground: var(--color-neutral-100);
  --ring: var(--color-neutral-300);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  :root {
    --hairline-width: 0.5px;
  }
}

@layer base {
  button,
  a,
  input,
  select,
  textarea,
  label {
    touch-action: manipulation;
  }
}

::selection {
  @apply bg-accent-500 text-white;
}

body {
  @apply bg-background text-foreground;
}

[id] {
  scroll-margin-top: calc(var(--header-height) + var(--spacing) * 8);
}
